#container{
    height: 200px;
    width: 300px;
    background-color: rgb(0, 39, 101);
    position: relative;
}

#circle{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 50px;
}

.redpart{
    height: 50px;
    width: 300px;
    background-color: red;
}

.bottom{
    position: absolute;
    bottom: 0px;
}